workflow/Telegram Bot Handler.json
{
  "name": "Telegram Bot Handler",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\n// تحديد نوع التحديث: رسالة عادية أم ضغطة زر\nconst isCallback = !!input.callback_query;\nconst isMessage = !!input.message;\n\nlet result = {\n  updateType: 'unknown',\n  messageType: 'unknown',\n  text: '',\n  chatId: null,\n  username: '',\n  firstName: '',\n  callbackData: '',\n  callbackQueryId: '',\n  messageId: null\n};\n\nif (isCallback) {\n  // الطالب ضغط زر\n  const cb = input.callback_query;\n  result.updateType = 'callback_query';\n  result.chatId = cb.from.id;\n  result.username = cb.from.username || '';\n  result.firstName = cb.from.first_name || '';\n  result.callbackData = cb.data || '';\n  result.callbackQueryId = cb.id;\n  result.messageId = cb.message?.message_id || null;\n  \n  // تحديد نوع الـ callback\n  if (cb.data === 'attendance_present') {\n    result.messageType = 'attendance_present';\n  } else if (cb.data === 'attendance_absent') {\n    result.messageType = 'attendance_absent';\n  } else {\n    result.messageType = 'callback_unknown';\n  }\n  \n} else if (isMessage) {\n  // رسالة عادية\n  const message = input.message;\n  const text = (message.text || '').trim();\n  result.updateType = 'message';\n  result.chatId = message.chat.id;\n  result.username = message.chat.username || '';\n  result.firstName = message.chat.first_name || '';\n  result.text = text;\n  result.messageId = message.message_id;\n  \n  if (text === '/start') {\n    result.messageType = 'start_command';\n  } else if (/^05\\d{8}$/.test(text)) {\n    result.messageType = 'phone_number';\n  } else {\n    result.messageType = 'regular_message';\n  }\n}\n\nreturn result;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1152,
        944
      ],
      "id": "121da133-8861-4df3-acbf-ee239709c644",
      "name": "Parse Message"
    },
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1360,
        944
      ],
      "id": "a5e5d877-931f-46b1-b919-ebf8631dc692",
      "name": "Telegram Trigger",
      "webhookId": "224254d8-0797-4d83-9409-2053a8ce06e7",
      "credentials": {
        "telegramApi": {
          "id": "VThisxBXDOMMgygC",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.messageType }}",
                    "rightValue": "start_command",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "26a39cb8-3266-4af0-83ae-9864082dc631"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Start Command"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "bb086bca-2e5c-4c25-9865-bfaf98e5ebce",
                    "leftValue": "={{ $json.messageType }}",
                    "rightValue": "phone_number",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Phone Number"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "3bec8a32-726e-432f-ba22-0b2fa00c819f",
                    "leftValue": "={{ $json.messageType }}",
                    "rightValue": "regular_message",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Regular Message"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "de98777e-ff1c-40dc-bbc3-3b4f18b317ff",
                    "leftValue": "={{ $json.messageType }}",
                    "rightValue": "attendance_present",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Attendance Present"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c4c35749-50e2-42ba-b286-c6b339b57e6b",
                    "leftValue": "={{ $json.messageType }}",
                    "rightValue": "attendance_absent",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Attendance Absent"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -944,
        912
      ],
      "id": "1b932227-ef7d-4aed-a0e4-194056302caa",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "36482fbd-3328-8038-9d23-c40af7f06712",
          "mode": "list",
          "cachedResultName": "Students Registry طلاب تمكين ",
          "cachedResultUrl": "https://www.notion.so/36482fbd332880389d23c40af7f06712"
        },
        "limit": 1,
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "Telegram Chat ID|number",
              "condition": "equals",
              "numberValue": "={{ $('Parse Message').item.json.chatId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -448,
        96
      ],
      "id": "27be6542-78b2-4ae6-b701-70f807c38908",
      "name": "Check If Registered",
      "alwaysOutputData": true,
      "credentials": {
        "notionApi": {
          "id": "YLZ6abBpvtkfyjCI",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a4c4de47-7d57-4174-b9ec-d5fb82e19931",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -240,
        96
      ],
      "id": "d3e7e048-d892-4a5b-994e-ac7dca2dedf9",
      "name": "Is Already Registered?"
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse Message').item.json.chatId }}",
        "text": "أهلاً وسهلاً بك في برنامج تمكين إنسان! 👋\nمن فضلك أرسل رقم جوالك للتسجيل في النظام. \n📱 الصيغة: 0599123456 (10 أرقام تبدأ بـ 05)",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        0,
        208
      ],
      "id": "6322db12-7c87-4034-bb4c-aaac4f9faece",
      "name": "Ask for Phone",
      "webhookId": "ad160db9-de2c-4c1b-b453-41832b4756b6",
      "credentials": {
        "telegramApi": {
          "id": "9wCKVUzUTRvZN06o",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse Message').item.json.chatId }}",
        "text": "أنت مسجّل بالفعل في النظام ✅\n\nسيتم إرسال رسائل الحضور والإنجاز في أوقاتها المحددة.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "7d10b4df-b72f-4d07-9ab9-8e27b93b96e3",
      "name": "Already Registered Message",
      "webhookId": "859f4fdd-94f8-4723-9863-376ee2960c32",
      "credentials": {
        "telegramApi": {
          "id": "9wCKVUzUTRvZN06o",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "36482fbd-3328-8038-9d23-c40af7f06712",
          "mode": "list",
          "cachedResultName": "Students Registry طلاب تمكين ",
          "cachedResultUrl": "https://www.notion.so/36482fbd332880389d23c40af7f06712"
        },
        "limit": 1,
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "Phone|phone_number",
              "condition": "equals",
              "phoneNumberValue": "={{ $('Parse Message').item.json.text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -368,
        416
      ],
      "id": "ae7ee6c3-ec88-40bc-a0f0-f47c92be7c38",
      "name": "Find Student by Phone",
      "alwaysOutputData": true,
      "credentials": {
        "notionApi": {
          "id": "YLZ6abBpvtkfyjCI",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7c3bc599-182d-4c2e-9e50-765a09c38067",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "988920a1-6636-40b9-8642-13d72b9ac617",
              "leftValue": "={{ $json.property_confirmed }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -160,
        416
      ],
      "id": "e16bb42c-1ca7-485a-ba07-00c50349f379",
      "name": "Is Valid Student?"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Find Student by Phone').item.json.id }}",
          "__regex": "^([0-9a-f]{8}-?[0-9a-f]{4}-?[0-9a-f]{4}-?[0-9a-f]{4}-?[0-9a-f]{12})"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Telegram Chat ID|number",
              "numberValue": "={{ $('Parse Message').item.json.chatId }}"
            },
            {
              "key": "Telegram Username|rich_text",
              "textContent": "={{ $('Parse Message').item.json.username }}"
            },
            {
              "key": "Registered|checkbox",
              "checkboxValue": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        128,
        352
      ],
      "id": "085144b3-b808-4d2b-aaf5-f8c28d8c3e4c",
      "name": "Register Student",
      "credentials": {
        "notionApi": {
          "id": "YLZ6abBpvtkfyjCI",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse Message').item.json.chatId }}",
        "text": "🎉 تم تسجيلك بنجاح في برنامج تمكين إنسان!\n\nسيصلك يومياً:\n✅ رسالة تسجيل الحضور في بداية الدوام\n📝 رسالة تسجيل الإنجاز قبل نهاية الدوام\n\nالتزم بمواعيدك ونتمنى لك التوفيق! 💪",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        336,
        352
      ],
      "id": "fba1e7e2-643b-4073-9fe1-04d64e29be77",
      "name": "Welcome Message",
      "webhookId": "22e13b11-98de-4132-8b47-78f8efb38dd7",
      "credentials": {
        "telegramApi": {
          "id": "9wCKVUzUTRvZN06o",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "602c4bd5-d49a-4626-809f-80e2ccc1ef68",
              "leftValue": "={{ $('Find Student by Phone').item.json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        128,
        560
      ],
      "id": "f19e43e3-2cad-4ce5-9a1c-691ff699f3e5",
      "name": "Found But Not Confirmed?"
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse Message').item.json.chatId }}",
        "text": "⚠️ رقمك موجود في قائمتنا لكن حسابك غير مفعّل بعد.\n\nيرجى التواصل مع إدارة البرنامج لتفعيل حسابك.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        512,
        464
      ],
      "id": "ba97955a-7425-4d0a-bb65-73215d3c536a",
      "name": "Not Confirmed Message",
      "webhookId": "6eaf41a7-e764-486c-a195-60fd3e2e4f4b",
      "credentials": {
        "telegramApi": {
          "id": "9wCKVUzUTRvZN06o",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse Message').item.json.chatId }}",
        "text": "❌ عذراً، رقم الجوال الذي أرسلته غير مسجل في النظام.\n\nإذا كنت طالباً في تمكين وتعتقد أن هذا خطأ، يرجى التواصل مع الإدارة.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        512,
        640
      ],
      "id": "5b26ee30-5a8e-42a1-b225-a90ed2f5a0b3",
      "name": "Not Found Message",
      "webhookId": "01c81834-6635-47ef-b1c6-f931038be67c",
      "credentials": {
        "telegramApi": {
          "id": "9wCKVUzUTRvZN06o",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 0,1,2,3,4,6"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -3344,
        416
      ],
      "id": "e39f1067-58ff-405f-96d7-541f4d16d960",
      "name": "Schedule 9 AM"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 12 * * 1,3,6"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -3344,
        608
      ],
      "id": "e9b32a2e-57dd-48cb-ad66-b40a63e77fd8",
      "name": "Schedule 12 PM"
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst dayOfWeek = now.getDay();\n// 0=الأحد، 1=الإثنين، 2=الثلاثاء، 3=الأربعاء، 4=الخميس، 5=الجمعة، 6=السبت\n\nlet targetGroup = '';\nconst targetPeriod = 'فترة أولى';\n\nif ([6, 1, 3].includes(dayOfWeek)) {\n  // أيام المجموعة A\n  targetGroup = 'A';\n} else if ([0, 2, 4].includes(dayOfWeek)) {\n  // أيام المجموعة B\n  targetGroup = 'B';\n}\n\nreturn {\n  targetGroup: targetGroup,\n  targetPeriod: targetPeriod,\n  currentTime: now.toISOString(),\n  dayOfWeek: dayOfWeek\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3136,
        416
      ],
      "id": "08ca931a-6825-490e-b5cc-1383328e6842",
      "name": "Determine Target 9 AM"
    },
    {
      "parameters": {
        "jsCode": "// الفترة الثانية تكون فقط في أيام المجموعة A (السبت، الإثنين، الأربعاء)\n// وللشباب فقط\nreturn {\n  targetGroup: 'C',\n  targetPeriod: 'فترة ثانية',\n  currentTime: new Date().toISOString()\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3136,
        608
      ],
      "id": "0382d126-9b2c-4116-9f82-35bd5293a40a",
      "name": "Determine Target 12 PM"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "36482fbd-3328-8038-9d23-c40af7f06712",
          "mode": "list",
          "cachedResultName": "Students Registry طلاب تمكين ",
          "cachedResultUrl": "https://www.notion.so/36482fbd332880389d23c40af7f06712"
        },
        "returnAll": true,
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "key": "Group|select",
              "condition": "equals",
              "selectValue": "={{ $json.targetGroup }}"
            },
            {
              "key": "Period|select",
              "condition": "equals",
              "selectValue": "={{ $json.targetPeriod }}"
            },
            {
              "key": "Confirmed|checkbox",
              "condition": "equals",
              "checkboxValue": true
            },
            {
              "key": "Registered|checkbox",
              "condition": "equals",
              "checkboxValue": true
            },
            {
              "key": "Active|checkbox",
              "condition": "equals",
              "checkboxValue": true
            },
            {
              "key": "Suspended|checkbox",
              "condition": "equals"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -2928,
        416
      ],
      "id": "a530c56d-ac27-4e86-b6a4-45d055c3da60",
      "name": "Get Morning Students",
      "credentials": {
        "notionApi": {
          "id": "YLZ6abBpvtkfyjCI",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "36482fbd-3328-8038-9d23-c40af7f06712",
          "mode": "list",
          "cachedResultName": "Students Registry طلاب تمكين ",
          "cachedResultUrl": "https://www.notion.so/36482fbd332880389d23c40af7f06712"
        },
        "returnAll": true,
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "key": "Group|select",
              "condition": "equals",
              "selectValue": "={{ $json.targetGroup }}"
            },
            {
              "key": "Period|select",
              "condition": "equals",
              "selectValue": "={{ $json.targetPeriod }}"
            },
            {
              "key": "Confirmed|checkbox",
              "condition": "equals",
              "checkboxValue": true
            },
            {
              "key": "Registered|checkbox",
              "condition": "equals",
              "checkboxValue": true
            },
            {
              "key": "Active|checkbox",
              "condition": "equals",
              "checkboxValue": true
            },
            {
              "key": "Suspended|checkbox",
              "condition": "equals"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -2912,
        608
      ],
      "id": "f1494c69-4512-4895-89bb-95b90401a2af",
      "name": "Get Afternoon Students",
      "credentials": {
        "notionApi": {
          "id": "YLZ6abBpvtkfyjCI",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.property_telegram_chat_id }}",
        "text": "🌅 صباح الخير!\n\nحان وقت تسجيل الحضور للفترة الأولى (9:00 - 12:00).\nلديك حتى الساعة 9:15 لتسجيل حضورك في الوقت المحدد.\n\nمن فضلك اختر:",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "✅ حاضر/ة",
                    "additionalFields": {
                      "callback_data": "attendance_present"
                    }
                  },
                  {
                    "text": "❌ غير حاضر/ة",
                    "additionalFields": {
                      "callback_data": "attendance_absent"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2720,
        416
      ],
      "id": "7918b60f-d510-49e4-b91c-4ffe4c2b394e",
      "name": "Send Attendance Poll - Morning",
      "webhookId": "1c0439ef-809d-45bf-a377-22efd8484e99",
      "credentials": {
        "telegramApi": {
          "id": "9wCKVUzUTRvZN06o",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\n// تحويل لتوقيت غزة (UTC+2 أو UTC+3 حسب الصيف)\n// نستخدم Asia/Gaza\nconst gazaTime = new Date(now.toLocaleString('en-US', { timeZone: 'Asia/Gaza' }));\n\nconst dayOfWeek = gazaTime.getDay();\nconst hours = gazaTime.getHours();\nconst minutes = gazaTime.getMinutes();\nconst totalMinutes = hours * 60 + minutes;\n\n// نوافذ الحضور:\n// الفترة الأولى: 9:00 - 9:15 = On Time | 9:15 - 12:00 = Late | بعد ذلك = Out of Window\n// الفترة الثانية: 12:00 - 12:15 = On Time | 12:15 - 3:00 = Late | بعد ذلك = Out of Window\n\n// تحديد أي فترة الطالب فيها بناءً على الوقت الحالي\nlet period = '';\nlet status = ''; // On Time / Late / Out of Window\nlet isValidDay = false;\n\n// الجمعة (5) عطلة\nif (dayOfWeek === 5) {\n  status = 'Out of Window';\n  period = 'Holiday';\n}\n// الفترة الأولى (9:00 - 12:00) — كل الأيام عدا الجمعة\nelse if (totalMinutes >= 9 * 60 && totalMinutes < 12 * 60) {\n  period = 'فترة أولى';\n  isValidDay = true;\n  \n  if (totalMinutes < 9 * 60 + 15) {\n    status = 'On Time';\n  } else {\n    status = 'Late';\n  }\n}\n// الفترة الثانية (12:00 - 15:00) — فقط السبت/الإثنين/الأربعاء\nelse if (totalMinutes >= 12 * 60 && totalMinutes < 15 * 60) {\n  if ([6, 1, 3].includes(dayOfWeek)) {\n    period = 'فترة ثانية';\n    isValidDay = true;\n    \n    if (totalMinutes < 12 * 60 + 15) {\n      status = 'On Time';\n    } else {\n      status = 'Late';\n    }\n  } else {\n    status = 'Out of Window';\n    period = 'No Afternoon Today';\n  }\n}\n// خارج كل النوافذ\nelse {\n  status = 'Out of Window';\n  period = 'Outside Hours';\n}\n\nreturn {\n  chatId: $input.first().json.chatId,\n  callbackQueryId: $input.first().json.callbackQueryId,\n  messageId: $input.first().json.messageId,\n  attendanceStatus: status, // On Time / Late / Out of Window\n  detectedPeriod: period,\n  currentTime: gazaTime.toISOString(),\n  dayOfWeek: dayOfWeek,\n  totalMinutes: totalMinutes\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -368,
        1328
      ],
      "id": "71ad63d1-3990-4765-ab81-c3683525ffb7",
      "name": "Check Attendance Time"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "21341afb-4a3d-49a9-b1ea-13d492f4e1f3",
              "leftValue": "={{ $json.attendanceStatus }}",
              "rightValue": "Out of Window",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -160,
        1328
      ],
      "id": "768a83fa-3b52-476d-a5bb-f50046cc5c68",
      "name": "Is Within Window?"
    },
    {
      "parameters": {
        "resource": "callback",
        "queryId": "={{ $('Parse Message').item.json.callbackQueryId }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        48,
        1424
      ],
      "id": "1cdc4c87-a276-442a-a931-464537249e06",
      "name": "Answer Out of Window",
      "webhookId": "b1c30a70-97b6-42a2-ab39-a714e557d481",
      "credentials": {
        "telegramApi": {
          "id": "9wCKVUzUTRvZN06o",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse Message').item.json.chatId }}",
        "text": "⏰ عذراً، البوت لا يستقبل تسجيل الحضور في هذا الوقت.\n   \n   سيتم إرسال رسائل تسجيل الحضور والإنجاز في أوقاتها المحددة.\n   إذا كان لديك استفسار، يرجى التواصل مع الإدارة.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        256,
        1424
      ],
      "id": "7ed7aab8-9aa8-4f51-945b-88b08e157834",
      "name": "Out of Window Message",
      "webhookId": "e8d1bdf3-8556-4087-9a51-1b28f5aeae4f",
      "credentials": {
        "telegramApi": {
          "id": "9wCKVUzUTRvZN06o",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "36482fbd-3328-8038-9d23-c40af7f06712",
          "mode": "list",
          "cachedResultName": "Students Registry طلاب تمكين ",
          "cachedResultUrl": "https://www.notion.so/36482fbd332880389d23c40af7f06712"
        },
        "limit": 1,
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "Telegram Chat ID|number",
              "condition": "equals",
              "numberValue": "={{ $('Parse Message').item.json.chatId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        48,
        1232
      ],
      "id": "3489f9de-1841-49ff-a1d8-296fe09b38b1",
      "name": "Get Student Info",
      "credentials": {
        "notionApi": {
          "id": "YLZ6abBpvtkfyjCI",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/pages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"parent\": {\n    \"database_id\": \"36382fbd-3328-8090-a7ca-eedd201f5376\"\n  },\n  \"properties\": {\n    \"Entry ID\": {\n      \"title\": [\n        {\n          \"text\": {\n            \"content\": \"Attendance - {{ $now.toFormat('yyyy-MM-dd HH:mm') }}\"\n          }\n        }\n      ]\n    },\n    \"Student\": {\n      \"relation\": [\n        {\n          \"id\": \"{{ $('Get Student Info').item.json.id }}\"\n        }\n      ]\n    },\n    \"Type\": {\n      \"select\": {\n        \"name\": \"Attendance\"\n      }\n    },\n    \"Status\": {\n      \"select\": {\n        \"name\": \"{{ $('Check Attendance Time').item.json.attendanceStatus }}\"\n      }\n    },\n    \"Submitted At\": {\n      \"date\": {\n        \"start\": \"{{ $('Check Attendance Time').item.json.currentTime }}\"\n      }\n    },\n    \"Approval\": {\n      \"select\": {\n        \"name\": \"Pending\"\n      }\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        256,
        1232
      ],
      "id": "eab25ae7-5181-4923-b46f-21f69f84f69d",
      "name": "Create Pending Attendance"
    },
    {
      "parameters": {
        "resource": "callback",
        "queryId": "={{ $('Parse Message').item.json.callbackQueryId }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        432,
        1232
      ],
      "id": "b242c512-d438-42e1-9185-4cba325b0373",
      "name": "Answer Present",
      "webhookId": "5a49d5e9-774c-4d21-9834-52f8c5a13836",
      "credentials": {
        "telegramApi": {
          "id": "9wCKVUzUTRvZN06o",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $('Parse Message').item.json.chatId }}",
        "messageId": "={{ $('Parse Message').item.json.messageId }}",
        "replyMarkup": "inlineKeyboard",
        "text": "={{ $('Check Attendance Time').item.json.attendanceStatus === 'On Time' \n      ? '✅ تم تسجيل حضورك في الوقت المحدد. بانتظار موافقة الإدارة.' \n      : '⚠️ تم تسجيل حضورك متأخراً. بانتظار موافقة الإدارة.\\n\\nتذكر: التأخير قد يؤدي لإصدار تحذير.' }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        656,
        1232
      ],
      "id": "a800bafb-78f7-41cd-8725-ef908e7aac87",
      "name": "Remove Buttons (Present)",
      "webhookId": "7fa64389-019a-4b2d-b7c4-5e8e55b02903",
      "credentials": {
        "telegramApi": {
          "id": "9wCKVUzUTRvZN06o",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\n// تحويل لتوقيت غزة (UTC+2 أو UTC+3 حسب الصيف)\n// نستخدم Asia/Gaza\nconst gazaTime = new Date(now.toLocaleString('en-US', { timeZone: 'Asia/Gaza' }));\n\nconst dayOfWeek = gazaTime.getDay();\nconst hours = gazaTime.getHours();\nconst minutes = gazaTime.getMinutes();\nconst totalMinutes = hours * 60 + minutes;\n\n// نوافذ الحضور:\n// الفترة الأولى: 9:00 - 9:15 = On Time | 9:15 - 12:00 = Late | بعد ذلك = Out of Window\n// الفترة الثانية: 12:00 - 12:15 = On Time | 12:15 - 3:00 = Late | بعد ذلك = Out of Window\n\n// تحديد أي فترة الطالب فيها بناءً على الوقت الحالي\nlet period = '';\nlet status = ''; // On Time / Late / Out of Window\nlet isValidDay = false;\n\n// الجمعة (5) عطلة\nif (dayOfWeek === 5) {\n  status = 'Out of Window';\n  period = 'Holiday';\n}\n// الفترة الأولى (9:00 - 12:00) — كل الأيام عدا الجمعة\nelse if (totalMinutes >= 9 * 60 && totalMinutes < 12 * 60) {\n  period = 'فترة أولى';\n  isValidDay = true;\n  \n  if (totalMinutes < 9 * 60 + 15) {\n    status = 'On Time';\n  } else {\n    status = 'Late';\n  }\n}\n// الفترة الثانية (12:00 - 15:00) — فقط السبت/الإثنين/الأربعاء\nelse if (totalMinutes >= 12 * 60 && totalMinutes < 15 * 60) {\n  if ([6, 1, 3].includes(dayOfWeek)) {\n    period = 'فترة ثانية';\n    isValidDay = true;\n    \n    if (totalMinutes < 12 * 60 + 15) {\n      status = 'On Time';\n    } else {\n      status = 'Late';\n    }\n  } else {\n    status = 'Out of Window';\n    period = 'No Afternoon Today';\n  }\n}\n// خارج كل النوافذ\nelse {\n  status = 'Out of Window';\n  period = 'Outside Hours';\n}\n\nreturn {\n  chatId: $input.first().json.chatId,\n  callbackQueryId: $input.first().json.callbackQueryId,\n  messageId: $input.first().json.messageId,\n  attendanceStatus: status === 'Out of Window' ? 'Out of Window' : 'Absent',\n  detectedPeriod: period,\n  currentTime: gazaTime.toISOString(),\n  dayOfWeek: dayOfWeek,\n  totalMinutes: totalMinutes\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -384,
        1600
      ],
      "id": "905cb814-11f9-4185-b54f-01f14149f31c",
      "name": "Check Time Absent"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "21341afb-4a3d-49a9-b1ea-13d492f4e1f3",
              "leftValue": "={{ $json.attendanceStatus }}",
              "rightValue": "Out of Window",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -144,
        1600
      ],
      "id": "3b4fadd3-05bd-4ac2-a6a1-728b07c80091",
      "name": "Is Within Window (Absent)?"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "36482fbd-3328-8038-9d23-c40af7f06712",
          "mode": "list",
          "cachedResultName": "Students Registry طلاب تمكين ",
          "cachedResultUrl": "https://www.notion.so/36482fbd332880389d23c40af7f06712"
        },
        "limit": 1,
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "Telegram Chat ID|number",
              "condition": "equals",
              "numberValue": "={{ $('Parse Message').item.json.chatId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        96,
        1696
      ],
      "id": "75e69c05-0fe7-4865-9c76-f1632012b36b",
      "name": "Get Student Info (Absent)",
      "credentials": {
        "notionApi": {
          "id": "YLZ6abBpvtkfyjCI",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/pages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"parent\": {\n    \"database_id\": \"36382fbd-3328-8090-a7ca-eedd201f5376\"\n  },\n  \"properties\": {\n    \"Entry ID\": {\n      \"title\": [\n        {\n          \"text\": {\n            \"content\": \"Absence - {{ $now.toFormat('yyyy-MM-dd HH:mm') }}\"\n          }\n        }\n      ]\n    },\n    \"Student\": {\n      \"relation\": [\n        {\n          \"id\": \"{{ $('Get Student Info (Absent)').item.json.id }}\"\n        }\n      ]\n    },\n    \"Type\": {\n      \"select\": {\n        \"name\": \"Absence\"\n      }\n    },\n    \"Status\": {\n      \"select\": {\n        \"name\": \"Absent\"\n      }\n    },\n    \"Submitted At\": {\n      \"date\": {\n        \"start\": \"{{ $('Check Time Absent').item.json.currentTime }}\"\n      }\n    },\n    \"Approval\": {\n      \"select\": {\n        \"name\": \"Pending\"\n      }\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        304,
        1696
      ],
      "id": "78f86a99-1f0e-4d3c-84bb-136b40cf7b19",
      "name": "Create Pending Absent"
    },
    {
      "parameters": {
        "resource": "callback",
        "queryId": "={{ $('Parse Message').item.json.callbackQueryId }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        512,
        1696
      ],
      "id": "1dd283b9-e12f-4da2-92d7-8533e7238f9f",
      "name": "Answer Absent",
      "webhookId": "b1c48fbc-2739-48dc-b0e0-831ad6b46861",
      "credentials": {
        "telegramApi": {
          "id": "9wCKVUzUTRvZN06o",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.property_telegram_chat_id }}",
        "text": "🌆 مساء الخير!\n\nحان وقت تسجيل الحضور للفترة الثانية (12:00 - 3:00).\nلديك حتى الساعة 12:15 لتسجيل حضورك في الوقت المحدد.\n\nمن فضلك اختر:",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "✅ حاضر/ة",
                    "additionalFields": {
                      "callback_data": "attendance_present"
                    }
                  },
                  {
                    "text": "❌ غير حاضر/ة",
                    "additionalFields": {
                      "callback_data": "attendance_absent"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2720,
        608
      ],
      "id": "ffc25e10-d375-4b0e-a619-5125b2d3f740",
      "name": "Send Attendance Poll - Afternoon",
      "webhookId": "1c0439ef-809d-45bf-a377-22efd8484e99",
      "credentials": {
        "telegramApi": {
          "id": "9wCKVUzUTRvZN06o",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $('Parse Message').item.json.chatId }}",
        "messageId": "={{ $('Parse Message').item.json.messageId }}",
        "replyMarkup": "inlineKeyboard",
        "text": "📝 تم تسجيل غيابك اليوم. بانتظار موافقة الإدارة.\n\nإذا كان لديك عذر، تواصل مع الإدارة في أسرع وقت.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        752,
        1696
      ],
      "id": "cd1c075e-90ec-4ddb-918f-217881d8d97e",
      "name": "Remove Buttons (Absent)",
      "webhookId": "7fa64389-019a-4b2d-b7c4-5e8e55b02903",
      "credentials": {
        "telegramApi": {
          "id": "9wCKVUzUTRvZN06o",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "45 11 * * 0,1,2,3,4,6"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -2064,
        2000
      ],
      "id": "715d2f5f-f727-4cf2-b54d-d5dfc4e26e79",
      "name": "Schedule 11:45 AM"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "45 14 * * 1,3,6"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -2064,
        2192
      ],
      "id": "0d62790a-967d-4c33-92af-d56812b51988",
      "name": "Schedule 2:45 PM"
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst gazaTime = new Date(now.toLocaleString('en-US', { timeZone: 'Asia/Gaza' }));\nconst dayOfWeek = gazaTime.getDay();\n\nlet targetGroup = '';\nconst targetPeriod = 'فترة أولى';\n\nif ([6, 1, 3].includes(dayOfWeek)) {\n  // أيام المجموعة A\n  targetGroup = 'A';\n} else if ([0, 2, 4].includes(dayOfWeek)) {\n  // أيام المجموعة B\n  targetGroup = 'B';\n}\n\nreturn {\n  targetGroup: targetGroup,\n  targetPeriod: targetPeriod,\n  currentTime: gazaTime.toISOString(),\n  dayOfWeek: dayOfWeek\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1856,
        2000
      ],
      "id": "15abc917-df98-419f-a9ae-f6501211d3de",
      "name": "Determine Achievement Target 11:45"
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst gazaTime = new Date(now.toLocaleString('en-US', { timeZone: 'Asia/Gaza' }));\n\nreturn {\n  targetGroup: 'C',\n  targetPeriod: 'فترة ثانية',\n  currentTime: gazaTime.toISOString(),\n  dayOfWeek: gazaTime.getDay()\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1856,
        2192
      ],
      "id": "307d4cf7-d863-4cc1-b3df-a4fcb8895652",
      "name": "Determine Achievement Target 2:45"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "36482fbd-3328-8038-9d23-c40af7f06712",
          "mode": "list",
          "cachedResultName": "Students Registry طلاب تمكين ",
          "cachedResultUrl": "https://www.notion.so/36482fbd332880389d23c40af7f06712"
        },
        "returnAll": true,
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "key": "Group|select",
              "condition": "equals",
              "selectValue": "={{ $json.targetGroup }}"
            },
            {
              "key": "Period|select",
              "condition": "equals",
              "selectValue": "={{ $json.targetPeriod }}"
            },
            {
              "key": "Confirmed|checkbox",
              "condition": "equals",
              "checkboxValue": true
            },
            {
              "key": "Registered|checkbox",
              "condition": "equals",
              "checkboxValue": true
            },
            {
              "key": "Active|checkbox",
              "condition": "equals",
              "checkboxValue": true
            },
            {
              "key": "Suspended|checkbox",
              "condition": "equals"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -1664,
        2000
      ],
      "id": "61227bc1-d1df-47bf-ab2a-f8c4cd975edd",
      "name": "Get Morning Students (Achievement)",
      "credentials": {
        "notionApi": {
          "id": "YLZ6abBpvtkfyjCI",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "36482fbd-3328-8038-9d23-c40af7f06712",
          "mode": "list",
          "cachedResultName": "Students Registry طلاب تمكين ",
          "cachedResultUrl": "https://www.notion.so/36482fbd332880389d23c40af7f06712"
        },
        "returnAll": true,
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "key": "Group|select",
              "condition": "equals",
              "selectValue": "={{ $json.targetGroup }}"
            },
            {
              "key": "Period|select",
              "condition": "equals",
              "selectValue": "={{ $json.targetPeriod }}"
            },
            {
              "key": "Confirmed|checkbox",
              "condition": "equals",
              "checkboxValue": true
            },
            {
              "key": "Registered|checkbox",
              "condition": "equals",
              "checkboxValue": true
            },
            {
              "key": "Active|checkbox",
              "condition": "equals",
              "checkboxValue": true
            },
            {
              "key": "Suspended|checkbox",
              "condition": "equals"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -1632,
        2192
      ],
      "id": "73f92e7d-f328-499a-b15e-029c28e4f7ef",
      "name": "Get Afternoon Students (Achievement)",
      "credentials": {
        "notionApi": {
          "id": "YLZ6abBpvtkfyjCI",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.property_telegram_chat_id }}",
        "text": "📝 حان وقت تسجيل إنجازات اليوم\n\nاكتب في رسالة كل ما أنجزته اليوم. مثلاً:\n\n🎓 المحاضرات: حضرت محاضرة [اسم المادة]\n💻 العمل العملي: اشتغلت على [المشروع/المهمة]\n📚 الدراسة: درست لامتحان/مذاكرة [الموضوع]\n✍️ التقييمات: قدمت كويز/امتحان في [المادة]\n👥 التدريبات: حضرت سيشن تدريبي عن [الموضوع]\n\n✅ بإمكانك الإرسال في رسالة واحدة أو عدة رسائل لإضافة إنجازات.\n⏰ النافذة تنتهي الساعة 12:00 ظهراً.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1456,
        2000
      ],
      "id": "ae62d9c9-a843-400f-8ead-fec96c12e2d6",
      "name": "Send Achievement Request - Morning",
      "webhookId": "613cfd89-a290-4236-8580-7ada398c2008",
      "credentials": {
        "telegramApi": {
          "id": "9wCKVUzUTRvZN06o",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.property_telegram_chat_id }}",
        "text": "📝 حان وقت تسجيل إنجازات اليوم\n\nاكتب في رسالة كل ما أنجزته اليوم. مثلاً:\n\n🎓 المحاضرات: حضرت محاضرة [اسم المادة]\n💻 العمل العملي: اشتغلت على [المشروع/المهمة]\n📚 الدراسة: درست لامتحان/مذاكرة [الموضوع]\n✍️ التقييمات: قدمت كويز/امتحان في [المادة]\n👥 التدريبات: حضرت سيشن تدريبي عن [الموضوع]\n\n✅ بإمكانك الإرسال في رسالة واحدة أو عدة رسائل لإضافة إنجازات.\n⏰ النافذة تنتهي الساعة 3:00 عصراً.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1424,
        2192
      ],
      "id": "b08cea2e-70d8-4c1d-8005-3ae0857af15d",
      "name": "Send Achievement Request - Afternoon",
      "webhookId": "f44dbbb0-35f4-471e-abd6-ab86b0a52ea2",
      "credentials": {
        "telegramApi": {
          "id": "9wCKVUzUTRvZN06o",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst gazaTime = new Date(now.toLocaleString('en-US', { timeZone: 'Asia/Gaza' }));\n\nconst dayOfWeek = gazaTime.getDay();\nconst hours = gazaTime.getHours();\nconst minutes = gazaTime.getMinutes();\nconst totalMinutes = hours * 60 + minutes;\n\n// نوافذ الإنجاز:\n// الفترة الأولى: 11:45 - 12:00 (15 دقيقة)\n// الفترة الثانية: 14:45 - 15:00 (15 دقيقة)\n\nlet achievementWindow = false;\nlet detectedPeriod = '';\n\n// الجمعة عطلة\nif (dayOfWeek === 5) {\n  achievementWindow = false;\n}\n// نافذة الفترة الأولى (11:45 - 12:00) — كل الأيام عدا الجمعة\nelse if (totalMinutes >= 11 * 60 + 45 && totalMinutes < 12 * 60) {\n  achievementWindow = true;\n  detectedPeriod = 'فترة أولى';\n}\n// نافذة الفترة الثانية (14:45 - 15:00) — السبت/الإثنين/الأربعاء\nelse if (totalMinutes >= 14 * 60 + 45 && totalMinutes < 15 * 60) {\n  if ([6, 1, 3].includes(dayOfWeek)) {\n    achievementWindow = true;\n    detectedPeriod = 'فترة ثانية';\n  }\n}\n\n// التحقق من جودة النص\nconst text = $input.first().json.text || '';\nconst textLength = text.trim().length;\nconst needsReview = textLength < 20; // نص قصير جداً = يحتاج مراجعة\n\nreturn {\n  chatId: $input.first().json.chatId,\n  messageId: $input.first().json.messageId,\n  text: text,\n  textLength: textLength,\n  needsReview: needsReview,\n  isInAchievementWindow: achievementWindow,\n  detectedPeriod: detectedPeriod,\n  currentTime: gazaTime.toISOString(),\n  todayDate: gazaTime.toISOString().split('T')[0] // YYYY-MM-DD\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        960
      ],
      "id": "36b7aed6-de84-41a4-b0a4-4338e506d476",
      "name": "Check Achievement Window"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6129a321-5ae5-4568-81be-7fa021942177",
              "leftValue": "={{ $json.isInAchievementWindow }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -112,
        960
      ],
      "id": "f59797c6-f9e1-485e-a83c-9868f88f3f6a",
      "name": "In Achievement Window?"
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse Message').item.json.chatId }}",
        "text": "⏰ عذراً، البوت لا يستقبل رسائل في هذا الوقت.\n\nسيتم إرسال رسائل تسجيل الحضور والإنجاز في أوقاتها المحددة.\nإذا كان لديك استفسار، يرجى التواصل مع الإدارة.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        160,
        1040
      ],
      "id": "0e5645c8-c11d-4a61-8e2e-7173af539e3f",
      "name": "Outside Window Message",
      "webhookId": "b55d89cb-2484-4ec2-8e22-ed4f17db293c",
      "credentials": {
        "telegramApi": {
          "id": "9wCKVUzUTRvZN06o",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "36482fbd-3328-8038-9d23-c40af7f06712",
          "mode": "list",
          "cachedResultName": "Students Registry طلاب تمكين ",
          "cachedResultUrl": "https://www.notion.so/36482fbd332880389d23c40af7f06712"
        },
        "limit": 1,
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "Telegram Chat ID|number",
              "condition": "equals",
              "numberValue": "={{ $('Parse Message').item.json.chatId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        96,
        864
      ],
      "id": "ce4203b8-2769-4366-97d3-cbcfe400eefe",
      "name": "Get Student Info (Achievement)",
      "credentials": {
        "notionApi": {
          "id": "YLZ6abBpvtkfyjCI",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9b2e94a3-4bdf-49d5-9489-cc0d0338dd24",
              "leftValue": "={{ $json.results.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        512,
        864
      ],
      "id": "09bd7dd0-293d-49c5-be13-f66eaca0ac65",
      "name": "Achievement Exists Today?"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.notion.com/v1/pages/{{ $('Search Today Achievement').item.json.results[0].id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer 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"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"properties\": {\n    \"Notes\": {\n      \"rich_text\": [\n        {\n          \"text\": {\n            \"content\": {{ JSON.stringify(($('Search Today Achievement').item.json.results[0].properties.Notes.rich_text[0]?.plain_text || '') + '\\n' + $('Check Achievement Window').item.json.text) }}\n          }\n        }\n      ]\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        720,
        768
      ],
      "id": "7a110283-49a1-40d1-a7f9-b3dd05584777",
      "name": "Update Achievement"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/pages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer 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"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"parent\": {\n    \"database_id\": \"36382fbd-3328-8090-a7ca-eedd201f5376\"\n  },\n  \"properties\": {\n    \"Entry ID\": {\n      \"title\": [\n        {\n          \"text\": {\n            \"content\": \"Achievement - {{ $now.toFormat('yyyy-MM-dd') }}\"\n          }\n        }\n      ]\n    },\n    \"Student\": {\n      \"relation\": [\n        {\n          \"id\": \"{{ $('Get Student Info (Achievement)').item.json.id }}\"\n        }\n      ]\n    },\n    \"Type\": {\n      \"select\": {\n        \"name\": \"Achievement\"\n      }\n    },\n    \"Status\": {\n      \"select\": {\n        \"name\": \"Submitted\"\n      }\n    },\n    \"Notes\": {\n      \"rich_text\": [\n        {\n          \"text\": {\n            \"content\": {{ JSON.stringify($('Check Achievement Window').item.json.text) }}\n          }\n        }\n      ]\n    },\n    \"Submitted At\": {\n      \"date\": {\n        \"start\": \"{{ $('Check Achievement Window').item.json.currentTime }}\"\n      }\n    },\n    \"Approval\": {\n      \"select\": {\n        \"name\": \"Pending\"\n      }\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        736,
        944
      ],
      "id": "ae6b05cd-60b8-44f7-800a-6c90c0504bbc",
      "name": "Create Achievement"
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse Message').item.json.chatId }}",
        "text": "✅ تم استلام إنجازك بنجاح!\n\nيمكنك إرسال إضافات أخرى قبل انتهاء الوقت.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        944,
        944
      ],
      "id": "b3fc7a9c-27d2-4317-8e41-96be92894e66",
      "name": "Confirm New Achievement",
      "webhookId": "1fce0ea5-8d78-4be3-b80e-a655eecf17a6",
      "credentials": {
        "telegramApi": {
          "id": "9wCKVUzUTRvZN06o",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse Message').item.json.chatId }}",
        "text": "✅ تمت إضافة الإنجاز الجديد.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        928,
        768
      ],
      "id": "8258747e-6467-4653-8537-a518e5bc16b7",
      "name": "Confirm Updated Achievement",
      "webhookId": "2b93bdc9-6ee9-4267-b490-f5b40348b7dd",
      "credentials": {
        "telegramApi": {
          "id": "9wCKVUzUTRvZN06o",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/databases/36382fbd-3328-8090-a7ca-eedd201f5376/query",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer 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"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"filter\": {\n    \"and\": [\n      {\n        \"property\": \"Student\",\n        \"relation\": {\n          \"contains\": \"{{ $('Get Student Info (Achievement)').item.json.id }}\"\n        }\n      },\n      {\n        \"property\": \"Type\",\n        \"select\": {\n          \"equals\": \"Achievement\"\n        }\n      },\n      {\n        \"property\": \"Submitted At\",\n        \"date\": {\n          \"on_or_after\": \"{{ $('Check Achievement Window').item.json.todayDate }}\"\n        }\n      }\n    ]\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        304,
        864
      ],
      "id": "506383c3-6133-4e90-b283-ede51a7bb6e9",
      "name": "Search Today Achievement"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/2 * * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        256,
        2272
      ],
      "id": "97fd7f91-e5a6-4885-b0c0-f4209c42e55d",
      "name": "Every 2 Minutes"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/databases/36382fbd-3328-8090-a7ca-eedd201f5376/query",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"filter\": {\n    \"and\": [\n      {\n        \"property\": \"Processed\",\n        \"checkbox\": {\n          \"equals\": false\n        }\n      },\n      {\n        \"or\": [\n          {\n            \"property\": \"Approval\",\n            \"select\": {\n              \"equals\": \"Approved\"\n            }\n          },\n          {\n            \"property\": \"Approval\",\n            \"select\": {\n              \"equals\": \"Rejected\"\n            }\n          }\n        ]\n      }\n    ]\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        528,
        2272
      ],
      "id": "39e6111d-cb83-4ab1-946b-7d7db6e56631",
      "name": "Fetch Pending Records"
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst records = response.results || [];\n\n// تحويل كل سجل لـ item منفصل\nreturn records.map(record => ({ json: record }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        736,
        2272
      ],
      "id": "5b3d8c16-47e8-4bb4-bfb0-4eed5b039409",
      "name": "Split Records"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const record = $input.item.json;\nconst props = record.properties;\n\nreturn {\n  pageId: record.id,\n  studentId: props.Student?.relation?.[0]?.id || null,\n  type: props.Type?.select?.name || '',\n  status: props.Status?.select?.name || '',\n  approval: props.Approval?.select?.name || '',\n  notes: props.Notes?.rich_text?.[0]?.plain_text || '',\n  currentWarnings: props['Current Warnings']?.rollup?.number || 0,\n  submittedAt: props['Submitted At']?.date?.start || null,\n  entryTitle: props['Entry ID']?.title?.[0]?.plain_text || ''\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        944,
        2272
      ],
      "id": "ae8f451b-1c2a-4e83-8a3e-e4cb3ef6d3db",
      "name": "Extract Record Data"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.approval }}",
                    "rightValue": "Approved",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "15ddf5ce-5e12-4ab7-9637-feae90edc3d8"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Approved"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "1fb3780f-c82b-43fe-bf06-c3a7885c3d85",
                    "leftValue": "={{ $json.approval }}",
                    "rightValue": "Rejected",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Rejected"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1152,
        2272
      ],
      "id": "8f348d6c-3dab-4458-89ba-386f4eab35fa",
      "name": "Approval Router"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "Achievement",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "1a6f85b5-6c6a-4dfa-b523-829c90cfdd26"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Achievement"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ce956e0b-6436-4680-b1e3-224a10e48a89",
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "Attendance",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Attendance"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "9d13d473-fb11-47c3-89dd-61be4da09e80",
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "Absence",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Absence"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1360,
        2176
      ],
      "id": "9c171e0c-113f-4192-bdb7-5cf11ca6468c",
      "name": "Type Router (Approved)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/pages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"parent\": {\n    \"database_id\": \"36382fbd-3328-80a5-9f36-ce770219fd13\"\n  },\n  \"properties\": {\n    \"Entry ID\": {\n      \"title\": [\n        {\n          \"text\": {\n            \"content\": \"{{ $('Extract Record Data').item.json.entryTitle }}\"\n          }\n        }\n      ]\n    },\n    \"Student\": {\n      \"relation\": [\n        {\n          \"id\": \"{{ $('Extract Record Data').item.json.studentId }}\"\n        }\n      ]\n    },\n    \"Date\": {\n      \"date\": {\n        \"start\": \"{{ $('Extract Record Data').item.json.submittedAt }}\"\n      }\n    },\n    \"Achievement Text\": {\n      \"rich_text\": [\n        {\n          \"text\": {\n            \"content\": {{ JSON.stringify($('Extract Record Data').item.json.notes) }}\n          }\n        }\n      ]\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1648,
        1968
      ],
      "id": "327f681d-aab4-42c1-a1c2-1fc4e37a5c02",
      "name": "Move to Achievements Log"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.notion.com/v1/pages/{{ $('Extract Record Data').item.json.pageId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"properties\": {\n    \"Processed\": {\n      \"checkbox\": true\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1920,
        1968
      ],
      "id": "b99b0096-176a-43f0-8924-73df05e61bb3",
      "name": "Mark As Processed"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "On Time",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "33ef2b65-7571-4402-a3f1-4ca92dbe3670"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "On Time"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "762f1699-3ad8-4578-8ac8-07c916ff5df2",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "Late",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Late"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "61af32c8-b343-4bd5-b649-d3c32222bd30",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "Excused",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Excused"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a5879f42-9b00-4a59-82a4-b9952d50ca0c",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "Absent",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Absent"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1696,
        2272
      ],
      "id": "f1f07b00-c7c9-425c-8192-59b0ecb7b439",
      "name": "Attendance Status Router"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/pages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"parent\": {\n    \"database_id\": \"36382fbd33288004ae92f63d3403e678\"\n  },\n  \"properties\": {\n    \"Entry ID\": {\n      \"title\": [\n        {\n          \"text\": {\n            \"content\": \"Attendance - {{ $now.toFormat('yyyy-MM-dd') }}\"\n          }\n        }\n      ]\n    },\n    \"Student\": {\n      \"relation\": [\n        {\n          \"id\": \"{{ $('Extract Record Data').item.json.studentId }}\"\n        }\n      ]\n    },\n    \"Date\": {\n      \"date\": {\n        \"start\": \"{{ $('Extract Record Data').item.json.submittedAt }}\"\n      }\n    },\n    \"Status\": {\n      \"select\": {\n        \"name\": \"Present\"\n      }\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1952,
        2128
      ],
      "id": "37d1b7dd-63c3-4125-9b0e-18e24cb3176d",
      "name": "Move to Attendance Log (On Time)"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.notion.com/v1/pages/{{ $('Extract Record Data').item.json.pageId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"properties\": {\n    \"Processed\": {\n      \"checkbox\": true\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2192,
        2128
      ],
      "id": "22763ad3-dcbd-4722-8411-0ebe0ec539d9",
      "name": "Mark As Processed (On Time)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/pages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"parent\": {\n    \"database_id\": \"36382fbd-3328-8004-ae92-f63d3403e678\"\n  },\n  \"properties\": {\n    \"Entry ID\": {\n      \"title\": [\n        {\n          \"text\": {\n            \"content\": \"Attendance - {{ $now.toFormat('yyyy-MM-dd') }}\"\n          }\n        }\n      ]\n    },\n    \"Student\": {\n      \"relation\": [\n        {\n          \"id\": \"{{ $('Extract Record Data').item.json.studentId }}\"\n        }\n      ]\n    },\n    \"Date\": {\n      \"date\": {\n        \"start\": \"{{ $('Extract Record Data').item.json.submittedAt }}\"\n      }\n    },\n    \"Status\": {\n      \"select\": {\n        \"name\": \"Late\"\n      }\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1968,
        2304
      ],
      "id": "28d0da58-700b-4b75-b1be-f034652b6197",
      "name": "Move to Attendance Log (Late)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/pages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"parent\": {\n    \"database_id\": \"36382fbd-3328-8081-b907-d395857a3f47\"\n  },\n  \"properties\": {\n    \"Entry ID\": {\n      \"title\": [\n        {\n          \"text\": {\n            \"content\": \"Warning - Late - {{ $now.toFormat('yyyy-MM-dd') }}\"\n          }\n        }\n      ]\n    },\n    \"Student\": {\n      \"relation\": [\n        {\n          \"id\": \"{{ $('Extract Record Data').item.json.studentId }}\"\n        }\n      ]\n    },\n    \"Date\": {\n      \"date\": {\n        \"start\": \"{{ $('Extract Record Data').item.json.submittedAt }}\"\n      }\n    },\n    \"Reason\": {\n      \"select\": {\n        \"name\": \"Late\"\n      }\n    },\n    \"Warning Number\": {\n      \"number\": {{ $('Extract Record Data').item.json.currentWarnings + 1 }}\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2176,
        2304
      ],
      "id": "0d37d0c8-8437-48f6-8736-53e936b6f64f",
      "name": "Create Warning Record"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.notion.com/v1/pages/{{ $('Extract Record Data').item.json.studentId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"properties\": {\n    \"Warnings Count\": {\n      \"number\": {{ $('Extract Record Data').item.json.currentWarnings + 1 }}\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2384,
        2304
      ],
      "id": "cf789fc9-e7ab-4b18-adef-8c2d96fa2617",
      "name": "Update Student Warnings Count"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1bf91fe4-cb16-4281-8ad1-b47443b04d87",
              "leftValue": "={{ $('Extract Record Data').item.json.currentWarnings + 1 }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2752,
        2304
      ],
      "id": "68461ca4-ef47-4711-9d56-d313f2285fd8",
      "name": "Is 3rd Warning?"
    },
    {
      "parameters": {
        "url": "=https://api.notion.com/v1/pages/{{ $('Extract Record Data').item.json.studentId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2576,
        2304
      ],
      "id": "66e05ec5-03d5-402b-92fb-83a823c81dfa",
      "name": "Get Student Chat ID"
    },
    {
      "parameters": {
        "chatId": "={{ $('Get Student Chat ID').item.json.properties['Telegram Chat ID'].number }}",
        "text": "=⚠️ تم تسجيل تأخيرك اليوم.\n\nعدد التحذيرات الحالية: {{ $('Extract Record Data').item.json.currentWarnings + 1 }} من 3\n\nتذكير: عند وصولك لـ 3 تحذيرات سيتم تعليق تسجيلك مؤقتاً.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2992,
        2400
      ],
      "id": "43d2def1-abb8-47e3-ae6d-cf417d2a2669",
      "name": "Send Warning Message",
      "webhookId": "b8187101-93b9-4623-b090-9e1866735e3d",
      "credentials": {
        "telegramApi": {
          "id": "9wCKVUzUTRvZN06o",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.notion.com/v1/pages/{{ $('Extract Record Data').item.json.studentId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"properties\": {\n    \"Suspended\": {\n      \"checkbox\": true\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2976,
        2192
      ],
      "id": "442a2fca-ad69-4446-83d8-61c27dc2a333",
      "name": "Suspend Student"
    },
    {
      "parameters": {
        "chatId": "={{ $('Get Student Chat ID').item.json.properties['Telegram Chat ID'].number }}",
        "text": "=⛔ وصلت إلى الحد الأقصى من التحذيرات (3)\n\nتم رفع طلب للإدارة للمراجعة.\nيرجى مراجعة الإدارة لإعادة تفعيل تسجيلك.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3200,
        2192
      ],
      "id": "c0ffd6e7-819c-478f-b6a4-16949ac3dd29",
      "name": "Send Suspension Message",
      "webhookId": "b8187101-93b9-4623-b090-9e1866735e3d",
      "credentials": {
        "telegramApi": {
          "id": "9wCKVUzUTRvZN06o",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.notion.com/v1/pages/{{ $('Extract Record Data').item.json.pageId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"properties\": {\n    \"Processed\": {\n      \"checkbox\": true\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3232,
        2400
      ],
      "id": "9b4e1c17-4001-4530-91f8-2a7fd63c7c9b",
      "name": "Mark As Processed (Late <3)"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.notion.com/v1/pages/{{ $('Extract Record Data').item.json.pageId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"properties\": {\n    \"Processed\": {\n      \"checkbox\": true\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3424,
        2192
      ],
      "id": "4abea458-a2e1-4ae8-b315-3ee2f4f476c4",
      "name": "Mark As Processed (Late =3)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/pages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"parent\": {\n    \"database_id\": \"36382fbd-3328-8004-ae92-f63d3403e678\"\n  },\n  \"properties\": {\n    \"Entry ID\": {\n      \"title\": [\n        {\n          \"text\": {\n            \"content\": \"Excused - {{ $now.toFormat('yyyy-MM-dd') }}\"\n          }\n        }\n      ]\n    },\n    \"Student\": {\n      \"relation\": [\n        {\n          \"id\": \"{{ $('Extract Record Data').item.json.studentId }}\"\n        }\n      ]\n    },\n    \"Date\": {\n      \"date\": {\n        \"start\": \"{{ $('Extract Record Data').item.json.submittedAt }}\"\n      }\n    },\n    \"Status\": {\n      \"select\": {\n        \"name\": \"Excused\"\n      }\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1968,
        2528
      ],
      "id": "5d5d56c9-d8fd-41f1-8a28-ab9fe2245ec7",
      "name": "Move to Attendance Log (Excused)"
    },
    {
      "parameters": {
        "url": "=https://api.notion.com/v1/pages/{{ $('Extract Record Data').item.json.studentId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2192,
        2528
      ],
      "id": "08961f15-5106-41b5-bf12-08c69e2a922b",
      "name": "Get Chat ID (Excused)"
    },
    {
      "parameters": {
        "chatId": "={{ $('Get Chat ID (Excused)').item.json.properties['Telegram Chat ID'].number }}",
        "text": "✅ تم قبول عذرك.\n\nلن يُحتسب هذا اليوم كتأخير أو غياب. \nنتمنى لك التوفيق!",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2400,
        2528
      ],
      "id": "7993793c-eff7-4a7c-b28a-f07def7c4806",
      "name": "Send Excused Message",
      "webhookId": "31c5dfc5-4911-4cb8-a685-c010dca9270e",
      "credentials": {
        "telegramApi": {
          "id": "9wCKVUzUTRvZN06o",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.notion.com/v1/pages/{{ $('Extract Record Data').item.json.pageId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"properties\": {\n    \"Processed\": {\n      \"checkbox\": true\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2608,
        2528
      ],
      "id": "a9bcb808-c501-4652-afdc-0de26b677836",
      "name": "Mark As Processed (Excused)"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "Absent",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d4b8636f-eb18-481d-9012-9e22d7f1ae67"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Absent"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e10f43b1-7065-4c55-b150-d366b1ca8abb",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "Excused",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Excused"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1712,
        2736
      ],
      "id": "5cfe578b-e032-4184-827a-4b3d9a65a0b4",
      "name": "Absence Status Router"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/pages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"parent\": {\n    \"database_id\": \"36382fbd-3328-8004-ae92-f63d3403e678\"\n  },\n  \"properties\": {\n    \"Entry ID\": {\n      \"title\": [\n        {\n          \"text\": {\n            \"content\": \"Absence - {{ $now.toFormat('yyyy-MM-dd') }}\"\n          }\n        }\n      ]\n    },\n    \"Student\": {\n      \"relation\": [\n        {\n          \"id\": \"{{ $('Extract Record Data').item.json.studentId }}\"\n        }\n      ]\n    },\n    \"Date\": {\n      \"date\": {\n        \"start\": \"{{ $('Extract Record Data').item.json.submittedAt }}\"\n      }\n    },\n    \"Status\": {\n      \"select\": {\n        \"name\": \"Absent\"\n      }\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2000,
        2720
      ],
      "id": "cadcd4d9-ce7e-4405-a424-147c15ded292",
      "name": "Move to Attendance Log (Absent)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/pages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"parent\": {\n    \"database_id\": \"36382fbd-3328-8081-b907-d395857a3f47\"\n  },\n  \"properties\": {\n    \"Entry ID\": {\n      \"title\": [\n        {\n          \"text\": {\n            \"content\": \"Warning - Absent - {{ $now.toFormat('yyyy-MM-dd') }}\"\n          }\n        }\n      ]\n    },\n    \"Student\": {\n      \"relation\": [\n        {\n          \"id\": \"{{ $('Extract Record Data').item.json.studentId }}\"\n        }\n      ]\n    },\n    \"Date\": {\n      \"date\": {\n        \"start\": \"{{ $('Extract Record Data').item.json.submittedAt }}\"\n      }\n    },\n    \"Reason\": {\n      \"select\": {\n        \"name\": \"Absent\"\n      }\n    },\n    \"Warning Number\": {\n      \"number\": {{ $('Extract Record Data').item.json.currentWarnings + 1 }}\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2224,
        2720
      ],
      "id": "5493acd7-cf3d-4bd9-83c4-ca3711601029",
      "name": "Create Warning Record (Absent)"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.notion.com/v1/pages/{{ $('Extract Record Data').item.json.studentId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"properties\": {\n    \"Warnings Count\": {\n      \"number\": {{ $('Extract Record Data').item.json.currentWarnings + 1 }}\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2432,
        2720
      ],
      "id": "1f5c7cf4-e56c-4216-95bf-89d906b10de5",
      "name": "Update Warnings Count (Absent)"
    },
    {
      "parameters": {
        "url": "=https://api.notion.com/v1/pages/{{ $('Extract Record Data').item.json.studentId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2640,
        2720
      ],
      "id": "71a5b048-b6e0-413c-b070-90d4803ce278",
      "name": "Get Chat ID (Absent)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1bf91fe4-cb16-4281-8ad1-b47443b04d87",
              "leftValue": "={{ $('Extract Record Data').item.json.currentWarnings + 1 }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2832,
        2720
      ],
      "id": "cdd74d0b-b47f-401a-af36-9920b7b09618",
      "name": "Is 3rd Warning? (Absent)"
    },
    {
      "parameters": {
        "chatId": "={{ $('Get Chat ID (Absent)').item.json.properties['Telegram Chat ID'].number }}",
        "text": "=⚠️ تم تسجيل غيابك اليوم.\n\nعدد التحذيرات الحالية: {{ $('Extract Record Data').item.json.currentWarnings + 1 }}\n\nتذكير: عند وصولك لـ 3 تحذيرات سيتم تعليق تسجيلك مؤقتاً.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3040,
        2816
      ],
      "id": "b9787ed5-ed01-41e0-8d24-e7caf02bc8d0",
      "name": "Send Warning Message (Absent)",
      "webhookId": "2a50f5ac-8051-4a8b-bd4b-aa9224d5e995",
      "credentials": {
        "telegramApi": {
          "id": "9wCKVUzUTRvZN06o",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.notion.com/v1/pages/{{ $('Extract Record Data').item.json.pageId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"properties\": {\n    \"Processed\": {\n      \"checkbox\": true\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3280,
        2816
      ],
      "id": "d3d84ea0-615d-459d-9817-ffe449877390",
      "name": "Mark As Processed (Absent <3)"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.notion.com/v1/pages/{{ $('Extract Record Data').item.json.studentId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"properties\": {\n    \"Suspended\": {\n      \"checkbox\": true\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3056,
        2640
      ],
      "id": "e438d563-1750-4307-b96e-c9cc80e0ca84",
      "name": "Suspend Student (Absent)"
    },
    {
      "parameters": {
        "chatId": "={{ $('Get Chat ID (Absent)').item.json.properties['Telegram Chat ID'].number }}",
        "text": "=⛔ وصلت إلى الحد الأقصى من التحذيرات (3)\n\nتم رفع طلب للإدارة للمراجعة.\nيرجى مراجعة الإدارة لإعادة تفعيل تسجيلك.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3280,
        2640
      ],
      "id": "3b380f10-e93e-4635-81b9-6b75e2c71e6e",
      "name": "Send Suspension Message (Absent)",
      "webhookId": "b8187101-93b9-4623-b090-9e1866735e3d",
      "credentials": {
        "telegramApi": {
          "id": "9wCKVUzUTRvZN06o",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.notion.com/v1/pages/{{ $('Extract Record Data').item.json.pageId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"properties\": {\n    \"Processed\": {\n      \"checkbox\": true\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3504,
        2640
      ],
      "id": "ff5549f1-0dff-4774-88c3-01a91b3c5b3b",
      "name": "Mark As Processed (Absent =3)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/pages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"parent\": {\n    \"database_id\": \"36382fbd-3328-8004-ae92-f63d3403e678\"\n  },\n  \"properties\": {\n    \"Entry ID\": {\n      \"title\": [\n        {\n          \"text\": {\n            \"content\": \"Excused - {{ $now.toFormat('yyyy-MM-dd') }}\"\n          }\n        }\n      ]\n    },\n    \"Student\": {\n      \"relation\": [\n        {\n          \"id\": \"{{ $('Extract Record Data').item.json.studentId }}\"\n        }\n      ]\n    },\n    \"Date\": {\n      \"date\": {\n        \"start\": \"{{ $('Extract Record Data').item.json.submittedAt }}\"\n      }\n    },\n    \"Status\": {\n      \"select\": {\n        \"name\": \"Excused\"\n      }\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2000,
        2944
      ],
      "id": "45098aeb-ca38-40f6-8e34-43559f41c760",
      "name": "Move to Attendance Log (Absence Excused)"
    },
    {
      "parameters": {
        "url": "=https://api.notion.com/v1/pages/{{ $('Extract Record Data').item.json.studentId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2208,
        2944
      ],
      "id": "5689107f-e699-4f06-875d-c095f61d0853",
      "name": "Get Chat ID (Absence Excused)"
    },
    {
      "parameters": {
        "chatId": "={{ $('Get Chat ID (Absence Excused)').item.json.properties['Telegram Chat ID'].number }}",
        "text": "✅ تم قبول عذرك.\n\nلن يُحتسب هذا اليوم كتأخير أو غياب. \nنتمنى لك التوفيق!",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2432,
        2944
      ],
      "id": "e3fe9ad8-6878-49d2-b02d-819f01bb8347",
      "name": "Send Excused Message (Absence)",
      "webhookId": "31c5dfc5-4911-4cb8-a685-c010dca9270e",
      "credentials": {
        "telegramApi": {
          "id": "9wCKVUzUTRvZN06o",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.notion.com/v1/pages/{{ $('Extract Record Data').item.json.pageId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"properties\": {\n    \"Processed\": {\n      \"checkbox\": true\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2656,
        2944
      ],
      "id": "702b91d3-91ab-43b5-a04c-fae963c91c0d",
      "name": "Mark As Processed (Absence Excused)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/pages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"parent\": {\n    \"database_id\": \"36782fbd332880c7a631d4880324f683\"\n  },\n  \"properties\": {\n    \"Entry ID\": {\n      \"title\": [\n        {\n          \"text\": {\n            \"content\": \"Rejected - {{ $('Extract Record Data').item.json.type }} - {{ $now.toFormat('yyyy-MM-dd') }}\"\n          }\n        }\n      ]\n    },\n    \"Student\": {\n      \"relation\": [\n        {\n          \"id\": \"{{ $('Extract Record Data').item.json.studentId }}\"\n        }\n      ]\n    },\n    \"Original Type\": {\n      \"select\": {\n        \"name\": \"{{ $('Extract Record Data').item.json.type }}\"\n      }\n    },\n    \"Original Status\": {\n      \"select\": {\n        \"name\": \"{{ $('Extract Record Data').item.json.status }}\"\n      }\n    },\n    \"Content\": {\n      \"rich_text\": [\n        {\n          \"text\": {\n            \"content\": {{ JSON.stringify($('Extract Record Data').item.json.notes || '') }}\n          }\n        }\n      ]\n    },\n    \"Submitted At\": {\n      \"date\": {\n        \"start\": \"{{ $('Extract Record Data').item.json.submittedAt }}\"\n      }\n    },\n    \"Rejected At\": {\n      \"date\": {\n        \"start\": \"{{ $now.toISO() }}\"\n      }\n    },\n    \"Rejection Reason\": {\n      \"rich_text\": [\n        {\n          \"text\": {\n            \"content\": {{ JSON.stringify($('Extract Record Data').item.json.notes || 'No reason provided') }}\n          }\n        }\n      ]\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1584,
        3216
      ],
      "id": "ff4542b3-3645-46cb-ba01-514e44ba419e",
      "name": "Move to Rejected Log"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Extract Record Data').item.json.type }}",
                    "rightValue": "Achievement",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "b0c2133d-8b91-4582-89a0-e02d9a4749c4"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Rejected Achievement"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "7a79c8b2-46ae-4343-9686-f5e70ebfcf29",
                    "leftValue": "={{ $('Extract Record Data').item.json.type }}",
                    "rightValue": "Attendance",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Rejected Attendance"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a9a9b5a4-b858-4375-86aa-f69b794ac6d8",
                    "leftValue": "={{ $('Extract Record Data').item.json.type }}",
                    "rightValue": "Absence",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Rejected Absence"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1792,
        3216
      ],
      "id": "5bb2f346-c22d-4b5e-ae90-691623dc4217",
      "name": "Rejected Type Router"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.notion.com/v1/pages/{{ $('Extract Record Data').item.json.pageId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"properties\": {\n    \"Processed\": {\n      \"checkbox\": true\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2240,
        3120
      ],
      "id": "78c81212-30a5-4311-9c4a-81e4704d2f9e",
      "name": "Mark As Processed (Rejected Achievement)"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.notion.com/v1/pages/{{ $('Extract Record Data').item.json.pageId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"properties\": {\n    \"Processed\": {\n      \"checkbox\": true\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2240,
        3504
      ],
      "id": "9c122ae9-6dcd-4662-a223-4f7beea92751",
      "name": "Mark As Processed (Rejected Absence)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/pages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"parent\": {\n    \"database_id\": \"36382fbd-3328-8004-ae92-f63d3403e678\"\n  },\n  \"properties\": {\n    \"Entry ID\": {\n      \"title\": [\n        {\n          \"text\": {\n            \"content\": \"Absence - {{ $now.toFormat('yyyy-MM-dd') }}\"\n          }\n        }\n      ]\n    },\n    \"Student\": {\n      \"relation\": [\n        {\n          \"id\": \"{{ $('Extract Record Data').item.json.studentId }}\"\n        }\n      ]\n    },\n    \"Date\": {\n      \"date\": {\n        \"start\": \"{{ $('Extract Record Data').item.json.submittedAt }}\"\n      }\n    },\n    \"Status\": {\n      \"select\": {\n        \"name\": \"Absent\"\n      }\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2240,
        3312
      ],
      "id": "3cfe8c43-c058-4ea8-bf7b-d731835e5ad0",
      "name": "Move to Attendance Log (Rejected as Absent)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/pages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"parent\": {\n    \"database_id\": \"36382fbd-3328-8081-b907-d395857a3f47\"\n  },\n  \"properties\": {\n    \"Entry ID\": {\n      \"title\": [\n        {\n          \"text\": {\n            \"content\": \"Warning - Rejected Attendance - {{ $now.toFormat('yyyy-MM-dd') }}\"\n          }\n        }\n      ]\n    },\n    \"Student\": {\n      \"relation\": [\n        {\n          \"id\": \"{{ $('Extract Record Data').item.json.studentId }}\"\n        }\n      ]\n    },\n    \"Date\": {\n      \"date\": {\n        \"start\": \"{{ $('Extract Record Data').item.json.submittedAt }}\"\n      }\n    },\n    \"Reason\": {\n      \"select\": {\n        \"name\": \"Absent\"\n      }\n    },\n    \"Warning Number\": {\n      \"number\": {{ $('Extract Record Data').item.json.currentWarnings + 1 }}\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2480,
        3312
      ],
      "id": "a915cea7-286e-4519-a4e6-36262778a787",
      "name": "Create Warning Record (Rejected)"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.notion.com/v1/pages/{{ $('Extract Record Data').item.json.studentId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"properties\": {\n    \"Warnings Count\": {\n      \"number\": {{ $('Extract Record Data').item.json.currentWarnings + 1 }}\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2736,
        3312
      ],
      "id": "6d270458-24ea-40bb-976e-5ff2058e290f",
      "name": "Update Warnings Count (Rejected)"
    },
    {
      "parameters": {
        "url": "=https://api.notion.com/v1/pages/{{ $('Extract Record Data').item.json.studentId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2944,
        3312
      ],
      "id": "7f98b626-e558-4b29-83d8-da7071fdda8d",
      "name": "Get Chat ID (Rejected)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1bf91fe4-cb16-4281-8ad1-b47443b04d87",
              "leftValue": "={{ $('Extract Record Data').item.json.currentWarnings + 1 }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3136,
        3312
      ],
      "id": "cb24c4ad-678e-4ed0-8cb6-055a60aca5fd",
      "name": "Is 3rd Warning? (Rejected)"
    },
    {
      "parameters": {
        "chatId": "={{ $('Get Chat ID (Rejected)').item.json.properties['Telegram Chat ID'].number }}",
        "text": "=⚠️ تم رفض تسجيل حضورك اليوم.\n\nتم احتساب هذا اليوم كغياب.\nعدد التحذيرات الحالية: {{ $('Extract Record Data').item.json.currentWarnings + 1 }} \n\nتذكير: عند وصولك لـ 3 تحذيرات سيتم تعليق تسجيلك مؤقتاً.\nإذا كان لديك توضيح، تواصل مع الإدارة.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3344,
        3408
      ],
      "id": "320f9883-33f7-4d0d-8eac-736e01db0ef8",
      "name": "Send Rejection Message",
      "webhookId": "a8904d94-9296-4273-b18d-79fd566710f9",
      "credentials": {
        "telegramApi": {
          "id": "9wCKVUzUTRvZN06o",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.notion.com/v1/pages/{{ $('Extract Record Data').item.json.pageId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"properties\": {\n    \"Processed\": {\n      \"checkbox\": true\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3568,
        3408
      ],
      "id": "c33f6650-b77c-4932-a51d-9f755883bb5b",
      "name": " Mark As Processed (Rejected <3)"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.notion.com/v1/pages/{{ $('Extract Record Data').item.json.studentId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"properties\": {\n    \"Suspended\": {\n      \"checkbox\": true\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3344,
        3232
      ],
      "id": "8ae63338-7b7b-46f7-a226-e73105b8aee5",
      "name": "Suspend Student (Rejected)"
    },
    {
      "parameters": {
        "chatId": "={{ $('Get Chat ID (Rejected)').item.json.properties['Telegram Chat ID'].number }}",
        "text": "=⛔ وصلت إلى الحد الأقصى من التحذيرات (3)\n\nتم رفع طلب للإدارة للمراجعة.\nيرجى مراجعة الإدارة لإعادة تفعيل تسجيلك.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3568,
        3232
      ],
      "id": "8cabd270-abe5-4f91-9d79-76279af61e7a",
      "name": "Send Suspension Message (Rejected)",
      "webhookId": "b8187101-93b9-4623-b090-9e1866735e3d",
      "credentials": {
        "telegramApi": {
          "id": "9wCKVUzUTRvZN06o",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.notion.com/v1/pages/{{ $('Extract Record Data').item.json.pageId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"properties\": {\n    \"Processed\": {\n      \"checkbox\": true\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3776,
        3232
      ],
      "id": "7548c3fa-32df-4ed6-923b-442777b32dfa",
      "name": "Mark As Processed (Rejected =3)"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "5 12 * * 0,1,2,3,4,6"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1632,
        3504
      ],
      "id": "b9600083-eeb3-45d8-a91a-480488049b3c",
      "name": "Schedule 12:05 PM"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "5 15 * * 1,3,6"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1616,
        3728
      ],
      "id": "c7209116-c15e-454d-a2d5-8740ca7afe8e",
      "name": "Schedule 3:05 PM"
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst gazaTime = new Date(now.toLocaleString('en-US', { timeZone: 'Asia/Gaza' }));\nconst dayOfWeek = gazaTime.getDay();\n\nlet targetGroup = '';\nconst targetPeriod = 'فترة أولى';\n\nif ([6, 1, 3].includes(dayOfWeek)) {\n  targetGroup = 'A';\n} else if ([0, 2, 4].includes(dayOfWeek)) {\n  targetGroup = 'B';\n}\n\nreturn {\n  targetGroup: targetGroup,\n  targetPeriod: targetPeriod,\n  currentTime: gazaTime.toISOString(),\n  todayDate: gazaTime.toISOString().split('T')[0],\n  dayOfWeek: dayOfWeek\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1424,
        3504
      ],
      "id": "ce0fbabc-8d48-4a9e-8414-81fc21e5c0ca",
      "name": "Determine Target (Morning)"
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst gazaTime = new Date(now.toLocaleString('en-US', { timeZone: 'Asia/Gaza' }));\n\nreturn {\n  targetGroup: 'C',\n  targetPeriod: 'فترة ثانية',\n  currentTime: gazaTime.toISOString(),\n  todayDate: gazaTime.toISOString().split('T')[0],\n  dayOfWeek: gazaTime.getDay()\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1408,
        3728
      ],
      "id": "fe4496a5-2f5b-430a-a1c2-f14f77cb03d0",
      "name": "Determine Target (Afternoon)"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "36482fbd-3328-8038-9d23-c40af7f06712",
          "mode": "list",
          "cachedResultName": "Students Registry طلاب تمكين ",
          "cachedResultUrl": "https://www.notion.so/36482fbd332880389d23c40af7f06712"
        },
        "returnAll": true,
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "key": "Group|select",
              "condition": "equals",
              "selectValue": "={{ $json.targetGroup }}"
            },
            {
              "key": "Period|select",
              "condition": "equals",
              "selectValue": "={{ $json.targetPeriod }}"
            },
            {
              "key": "Confirmed|checkbox",
              "condition": "equals",
              "checkboxValue": true
            },
            {
              "key": "Registered|checkbox",
              "condition": "equals",
              "checkboxValue": true
            },
            {
              "key": "Active|checkbox",
              "condition": "equals",
              "checkboxValue": true
            },
            {
              "key": "Suspended|checkbox",
              "condition": "equals"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -1200,
        3504
      ],
      "id": "0d6d2e3f-5426-4544-ad68-b6a512147aec",
      "name": "Get Target Students (Morning)",
      "credentials": {
        "notionApi": {
          "id": "YLZ6abBpvtkfyjCI",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "36482fbd-3328-8038-9d23-c40af7f06712",
          "mode": "list",
          "cachedResultName": "Students Registry طلاب تمكين ",
          "cachedResultUrl": "https://www.notion.so/36482fbd332880389d23c40af7f06712"
        },
        "returnAll": true,
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "key": "Group|select",
              "condition": "equals",
              "selectValue": "={{ $json.targetGroup }}"
            },
            {
              "key": "Period|select",
              "condition": "equals",
              "selectValue": "={{ $json.targetPeriod }}"
            },
            {
              "key": "Confirmed|checkbox",
              "condition": "equals",
              "checkboxValue": true
            },
            {
              "key": "Registered|checkbox",
              "condition": "equals",
              "checkboxValue": true
            },
            {
              "key": "Active|checkbox",
              "condition": "equals",
              "checkboxValue": true
            },
            {
              "key": "Suspended|checkbox",
              "condition": "equals"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -1184,
        3728
      ],
      "id": "7d9caafb-8486-4c44-bd05-447e88ce0559",
      "name": "Get Target Students (Afternoon)",
      "credentials": {
        "notionApi": {
          "id": "YLZ6abBpvtkfyjCI",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/databases/36382fbd-3328-8090-a7ca-eedd201f5376/query",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"filter\": {\n    \"and\": [\n      {\n        \"property\": \"Student\",\n        \"relation\": {\n          \"contains\": \"{{ $json.id }}\"\n        }\n      },\n      {\n        \"property\": \"Submitted At\",\n        \"date\": {\n          \"on_or_after\": \"{{ $('Determine Target (Morning)').item.json.todayDate }}\"\n        }\n      },\n      {\n        \"or\": [\n          {\n            \"property\": \"Type\",\n            \"select\": {\n              \"equals\": \"Attendance\"\n            }\n          },\n          {\n            \"property\": \"Type\",\n            \"select\": {\n              \"equals\": \"Absence\"\n            }\n          }\n        ]\n      }\n    ]\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -944,
        3504
      ],
      "id": "1e473caa-6df5-4421-af1d-9f9b4507ebaf",
      "name": "Check Existing Record (Morning)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0c8546ff-879d-4ad1-8a38-37eadc4cd50d",
              "leftValue": "={{ $json.results.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -720,
        3504
      ],
      "id": "5a9488a6-0eb4-4b39-b549-583bf9feef2f",
      "name": "No Record Today? (Morning)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/pages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"parent\": {\n    \"database_id\": \"36382fbd-3328-8090-a7ca-eedd201f5376\"\n  },\n  \"properties\": {\n    \"Entry ID\": {\n      \"title\": [\n        {\n          \"text\": {\n            \"content\": \"Auto Absence - {{ $now.toFormat('yyyy-MM-dd') }}\"\n          }\n        }\n      ]\n    },\n    \"Student\": {\n      \"relation\": [\n        {\n          \"id\": \"{{ $('Check Existing Record (Morning)').item.json.results ? $('Get Target Students (Morning)').item.json.id : $('Get Target Students (Morning)').item.json.id }}\"\n        }\n      ]\n    },\n    \"Type\": {\n      \"select\": {\n        \"name\": \"Absence\"\n      }\n    },\n    \"Status\": {\n      \"select\": {\n        \"name\": \"Absent\"\n      }\n    },\n    \"Notes\": {\n      \"rich_text\": [\n        {\n          \"text\": {\n            \"content\": \"تم اكتشاف الغياب تلقائياً - لم يسجل الطالب حضوره\"\n          }\n        }\n      ]\n    },\n    \"Submitted At\": {\n      \"date\": {\n        \"start\": \"{{ $('Determine Target (Morning)').item.json.currentTime }}\"\n      }\n    },\n    \"Approval\": {\n      \"select\": {\n        \"name\": \"Pending\"\n      }\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -400,
        3408
      ],
      "id": "882843e2-61f1-436a-b549-036d1e1d441a",
      "name": "Create Auto Absence (Morning)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/databases/36382fbd-3328-8090-a7ca-eedd201f5376/query",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"filter\": {\n    \"and\": [\n      {\n        \"property\": \"Student\",\n        \"relation\": {\n          \"contains\": \"{{ $json.id }}\"\n        }\n      },\n      {\n        \"property\": \"Submitted At\",\n        \"date\": {\n          \"on_or_after\": \"{{ $('Determine Target (Afternoon)').item.json.todayDate }}\"\n        }\n      },\n      {\n        \"or\": [\n          {\n            \"property\": \"Type\",\n            \"select\": {\n              \"equals\": \"Attendance\"\n            }\n          },\n          {\n            \"property\": \"Type\",\n            \"select\": {\n              \"equals\": \"Absence\"\n            }\n          }\n        ]\n      }\n    ]\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -928,
        3728
      ],
      "id": "c1e251d0-c617-4260-acb0-e6904596c3e1",
      "name": "Check Existing Record (Afternoon)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0c8546ff-879d-4ad1-8a38-37eadc4cd50d",
              "leftValue": "={{ $json.results.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -704,
        3728
      ],
      "id": "305f8617-67bd-42d2-b6e7-f7537cedaf15",
      "name": "No Record Today? (Afternoon)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/pages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"parent\": {\n    \"database_id\": \"36382fbd-3328-8090-a7ca-eedd201f5376\"\n  },\n  \"properties\": {\n    \"Entry ID\": {\n      \"title\": [\n        {\n          \"text\": {\n            \"content\": \"Auto Absence - {{ $now.toFormat('yyyy-MM-dd') }}\"\n          }\n        }\n      ]\n    },\n    \"Student\": {\n      \"relation\": [\n        {\n          \"id\": \"{{ $('Get Target Students (Afternoon)').item.json.id }}\"\n        }\n      ]\n    },\n    \"Type\": {\n      \"select\": {\n        \"name\": \"Absence\"\n      }\n    },\n    \"Status\": {\n      \"select\": {\n        \"name\": \"Absent\"\n      }\n    },\n    \"Notes\": {\n      \"rich_text\": [\n        {\n          \"text\": {\n            \"content\": \"تم اكتشاف الغياب تلقائياً - لم يسجل الطالب حضوره\"\n          }\n        }\n      ]\n    },\n    \"Submitted At\": {\n      \"date\": {\n        \"start\": \"{{ $('Determine Target (Afternoon)').item.json.currentTime }}\"\n      }\n    },\n    \"Approval\": {\n      \"select\": {\n        \"name\": \"Pending\"\n      }\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -400,
        3632
      ],
      "id": "4fdfe921-196e-4066-905d-793b32dd5bb1",
      "name": "Create Auto Absence (Afternoon)"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Parse Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Message": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Check If Registered",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Find Student by Phone",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Achievement Window",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Attendance Time",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Time Absent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Registered": {
      "main": [
        [
          {
            "node": "Is Already Registered?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Already Registered?": {
      "main": [
        [
          {
            "node": "Already Registered Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ask for Phone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Student by Phone": {
      "main": [
        [
          {
            "node": "Is Valid Student?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Valid Student?": {
      "main": [
        [
          {
            "node": "Register Student",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Found But Not Confirmed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Register Student": {
      "main": [
        [
          {
            "node": "Welcome Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Found But Not Confirmed?": {
      "main": [
        [
          {
            "node": "Not Confirmed Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Not Found Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule 9 AM": {
      "main": [
        [
          {
            "node": "Determine Target 9 AM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule 12 PM": {
      "main": [
        [
          {
            "node": "Determine Target 12 PM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Determine Target 9 AM": {
      "main": [
        [
          {
            "node": "Get Morning Students",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Determine Target 12 PM": {
      "main": [
        [
          {
            "node": "Get Afternoon Students",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Morning Students": {
      "main": [
        [
          {
            "node": "Send Attendance Poll - Morning",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Afternoon Students": {
      "main": [
        [
          {
            "node": "Send Attendance Poll - Afternoon",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Attendance Time": {
      "main": [
        [
          {
            "node": "Is Within Window?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Within Window?": {
      "main": [
        [
          {
            "node": "Get Student Info",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Answer Out of Window",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Answer Out of Window": {
      "main": [
        [
          {
            "node": "Out of Window Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Student Info": {
      "main": [
        [
          {
            "node": "Create Pending Attendance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Pending Attendance": {
      "main": [
        [
          {
            "node": "Answer Present",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Answer Present": {
      "main": [
        [
          {
            "node": "Remove Buttons (Present)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Time Absent": {
      "main": [
        [
          {
            "node": "Is Within Window (Absent)?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Within Window (Absent)?": {
      "main": [
        [
          {
            "node": "Get Student Info (Absent)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Answer Out of Window",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Student Info (Absent)": {
      "main": [
        [
          {
            "node": "Create Pending Absent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Pending Absent": {
      "main": [
        [
          {
            "node": "Answer Absent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Answer Absent": {
      "main": [
        [
          {
            "node": "Remove Buttons (Absent)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule 11:45 AM": {
      "main": [
        [
          {
            "node": "Determine Achievement Target 11:45",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule 2:45 PM": {
      "main": [
        [
          {
            "node": "Determine Achievement Target 2:45",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Determine Achievement Target 11:45": {
      "main": [
        [
          {
            "node": "Get Morning Students (Achievement)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Determine Achievement Target 2:45": {
      "main": [
        [
          {
            "node": "Get Afternoon Students (Achievement)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Morning Students (Achievement)": {
      "main": [
        [
          {
            "node": "Send Achievement Request - Morning",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Afternoon Students (Achievement)": {
      "main": [
        [
          {
            "node": "Send Achievement Request - Afternoon",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Achievement Window": {
      "main": [
        [
          {
            "node": "In Achievement Window?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "In Achievement Window?": {
      "main": [
        [
          {
            "node": "Get Student Info (Achievement)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Outside Window Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Student Info (Achievement)": {
      "main": [
        [
          {
            "node": "Search Today Achievement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Achievement Exists Today?": {
      "main": [
        [
          {
            "node": "Update Achievement",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Achievement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Achievement": {
      "main": [
        [
          {
            "node": "Confirm New Achievement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Achievement": {
      "main": [
        [
          {
            "node": "Confirm Updated Achievement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Today Achievement": {
      "main": [
        [
          {
            "node": "Achievement Exists Today?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every 2 Minutes": {
      "main": [
        [
          {
            "node": "Fetch Pending Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Pending Records": {
      "main": [
        [
          {
            "node": "Split Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Records": {
      "main": [
        [
          {
            "node": "Extract Record Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Record Data": {
      "main": [
        [
          {
            "node": "Approval Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approval Router": {
      "main": [
        [
          {
            "node": "Type Router (Approved)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Move to Rejected Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Type Router (Approved)": {
      "main": [
        [
          {
            "node": "Move to Achievements Log",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Attendance Status Router",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Absence Status Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move to Achievements Log": {
      "main": [
        [
          {
            "node": "Mark As Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attendance Status Router": {
      "main": [
        [
          {
            "node": "Move to Attendance Log (On Time)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Move to Attendance Log (Late)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Move to Attendance Log (Excused)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move to Attendance Log (On Time)": {
      "main": [
        [
          {
            "node": "Mark As Processed (On Time)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move to Attendance Log (Late)": {
      "main": [
        [
          {
            "node": "Create Warning Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Warning Record": {
      "main": [
        [
          {
            "node": "Update Student Warnings Count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Student Warnings Count": {
      "main": [
        [
          {
            "node": "Get Student Chat ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Student Chat ID": {
      "main": [
        [
          {
            "node": "Is 3rd Warning?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is 3rd Warning?": {
      "main": [
        [
          {
            "node": "Suspend Student",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Warning Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Suspend Student": {
      "main": [
        [
          {
            "node": "Send Suspension Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Warning Message": {
      "main": [
        [
          {
            "node": "Mark As Processed (Late <3)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Suspension Message": {
      "main": [
        [
          {
            "node": "Mark As Processed (Late =3)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move to Attendance Log (Excused)": {
      "main": [
        [
          {
            "node": "Get Chat ID (Excused)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Chat ID (Excused)": {
      "main": [
        [
          {
            "node": "Send Excused Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Excused Message": {
      "main": [
        [
          {
            "node": "Mark As Processed (Excused)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Absence Status Router": {
      "main": [
        [
          {
            "node": "Move to Attendance Log (Absent)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Move to Attendance Log (Absence Excused)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move to Attendance Log (Absent)": {
      "main": [
        [
          {
            "node": "Create Warning Record (Absent)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Warning Record (Absent)": {
      "main": [
        [
          {
            "node": "Update Warnings Count (Absent)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Warnings Count (Absent)": {
      "main": [
        [
          {
            "node": "Get Chat ID (Absent)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Chat ID (Absent)": {
      "main": [
        [
          {
            "node": "Is 3rd Warning? (Absent)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is 3rd Warning? (Absent)": {
      "main": [
        [
          {
            "node": "Suspend Student (Absent)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Warning Message (Absent)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Warning Message (Absent)": {
      "main": [
        [
          {
            "node": "Mark As Processed (Absent <3)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Suspend Student (Absent)": {
      "main": [
        [
          {
            "node": "Send Suspension Message (Absent)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Suspension Message (Absent)": {
      "main": [
        [
          {
            "node": "Mark As Processed (Absent =3)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move to Attendance Log (Absence Excused)": {
      "main": [
        [
          {
            "node": "Get Chat ID (Absence Excused)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Chat ID (Absence Excused)": {
      "main": [
        [
          {
            "node": "Send Excused Message (Absence)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Excused Message (Absence)": {
      "main": [
        [
          {
            "node": "Mark As Processed (Absence Excused)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move to Rejected Log": {
      "main": [
        [
          {
            "node": "Rejected Type Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rejected Type Router": {
      "main": [
        [
          {
            "node": "Mark As Processed (Rejected Achievement)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Move to Attendance Log (Rejected as Absent)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark As Processed (Rejected Absence)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move to Attendance Log (Rejected as Absent)": {
      "main": [
        [
          {
            "node": "Create Warning Record (Rejected)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Warning Record (Rejected)": {
      "main": [
        [
          {
            "node": "Update Warnings Count (Rejected)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Warnings Count (Rejected)": {
      "main": [
        [
          {
            "node": "Get Chat ID (Rejected)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Chat ID (Rejected)": {
      "main": [
        [
          {
            "node": "Is 3rd Warning? (Rejected)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is 3rd Warning? (Rejected)": {
      "main": [
        [
          {
            "node": "Suspend Student (Rejected)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Rejection Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Rejection Message": {
      "main": [
        [
          {
            "node": " Mark As Processed (Rejected <3)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Suspend Student (Rejected)": {
      "main": [
        [
          {
            "node": "Send Suspension Message (Rejected)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Suspension Message (Rejected)": {
      "main": [
        [
          {
            "node": "Mark As Processed (Rejected =3)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule 12:05 PM": {
      "main": [
        [
          {
            "node": "Determine Target (Morning)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule 3:05 PM": {
      "main": [
        [
          {
            "node": "Determine Target (Afternoon)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Determine Target (Morning)": {
      "main": [
        [
          {
            "node": "Get Target Students (Morning)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Determine Target (Afternoon)": {
      "main": [
        [
          {
            "node": "Get Target Students (Afternoon)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Target Students (Morning)": {
      "main": [
        [
          {
            "node": "Check Existing Record (Morning)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Existing Record (Morning)": {
      "main": [
        [
          {
            "node": "No Record Today? (Morning)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Record Today? (Morning)": {
      "main": [
        [
          {
            "node": "Create Auto Absence (Morning)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Target Students (Afternoon)": {
      "main": [
        [
          {
            "node": "Check Existing Record (Afternoon)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Existing Record (Afternoon)": {
      "main": [
        [
          {
            "node": "No Record Today? (Afternoon)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Record Today? (Afternoon)": {
      "main": [
        [
          {
            "node": "Create Auto Absence (Afternoon)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "4f662389-9f4c-43c9-b38d-1b44aac088db",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "310b53863299b47f550f78dc2ea3b5de2b7ab7c90b5128c078345ccd7128989a"
  },
  "id": "gVaddEWMMSqMeJLz",
  "tags": []
}